<block-ui>
    <div class="row">

        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-border-default">
                        <div class="card-header">
                            <h5>User Role List </h5>
                            <button class="btn btn-secondary btn-sm float-right"
                            [routerLink]="[ '/user-role' ]"><i class=" icofont icofont-plus "></i> Create User Role</button>
                        </div>
                        <div class="card-block">
                            <div class="row">
                                <div class="col-lg-12">

                                  <ngx-datatable class="material table-bordered" #dataTable [rows]="rows"
                                  [loadingIndicator]="loadingIndicator" [columnMode]="ColumnMode.force"
                                  [headerHeight]="40" [footerHeight]="50" [rowHeight]="'100%'"
                                   [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
                                  (page)="setPage($event)">

                                  <!-- Row Detail Template -->
                                  <ngx-datatable-row-detail [rowHeight]="'100%'">
                                      <ng-template let-row="row" let-expanded="expanded"
                                          ngx-datatable-row-detail-template>
                                          <div class="w-100">

                                            <div class="card">
                                              <div class="card-header"><h5 class="card-title">Permissions</h5></div>
                                              <div class="card-body">
                                               <div class="row"><div class="col-sm-3" *ngFor="let item of row.details"><i class="icofont icofont-checked text-success"></i> {{item}}</div></div>
                                              </div>
                                            </div>

                                              <!-- <table
                                                  class="table table-xs table-hover table-bordered table-striped">
                                                  <thead>
                                                      <tr>
                                                          <th scope="col">Permissions</th>
                                                      </tr>
                                                  </thead>
                                                  <tbody>
                                                      <tr>
                                                          <th>{{row.details.join(", ")}}</th>
                                                      </tr>
                                                  </tbody>
                                              </table> -->
                                          </div>
                                      </ng-template>
                                  </ngx-datatable-row-detail>
                                  <!-- Column Templates -->

                                  <ngx-datatable-column [width]="30" name="#" [resizeable]="false"
                                      [sortable]="false" [draggable]="false" [canAutoResize]="false">
                                      <ng-template let-row="row" let-expanded="expanded"
                                          ngx-datatable-cell-template>
                                          <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded"
                                              [class.datatable-icon-down]="expanded" title="Expand/Collapse Row"
                                              (click)="toggleExpandRow(row)">
                                          </a>
                                      </ng-template>
                                  </ngx-datatable-column>

                                  <ngx-datatable-column [width]="50" name="Role Name" prop="Name"
                                      [draggable]="false" [sortable]="false">
                                      <ng-template let-value="value" ngx-datatable-cell-template>
                                          <span title="{{ value }}"> {{ value }} </span>
                                      </ng-template>
                                  </ngx-datatable-column>

                                  <ngx-datatable-column [width]="300"
                                      prop="Description" [draggable]="false" [sortable]="false">
                                      <ng-template let-value="value" ngx-datatable-cell-template>
                                          <span *ngIf="value" title="{{ value }}">
                                              {{ value  }} </span>
                                      </ng-template>
                                  </ngx-datatable-column>

                                  <ngx-datatable-column [width]="30" name="No of Roles" prop="NoOfRoles"
                                      [draggable]="false" [sortable]="false">
                                      <ng-template let-value="value" ngx-datatable-cell-template>
                                          <span title="{{ value }}"> {{ value }} </span>
                                      </ng-template>
                                  </ngx-datatable-column>



                                  <ngx-datatable-column [width]="40" name="Action" prop="Id" [draggable]="false"
                                      [sortable]="false">
                                      <ng-template let-row="row" ngx-datatable-cell-template>
                                          <button class="btn btn-mini btn-outline-secondary p-1 mr-2" title="Edit"
                                              (click)="getItem(row)" ><i class="icofont icofont-ui-edit f-20"></i>
                                          </button>
                                      </ng-template>
                                  </ngx-datatable-column>
                              </ngx-datatable>

                                </div>

                            </div>
                        </div>
                        <div class="card-footer ">

                        </div>
                        <!-- end of card-footer -->
                    </div>
                </div>
            </div>
        </div>

    </div>

</block-ui>
