<block-ui>
   <div class="row">
      <div class="col-lg-12">
         <div class="row">
            <div class="col-lg-12">
               <div class="card card-border-primary">
                  <div class="card-header">
                     <h5>Select The Followings </h5>
                  </div>
                  <div class="card-block ">
                     <div class="row ">
                        <div class="col-lg-12 ">
                           <form [formGroup]="entryForm">
                              <div class="row">
                                 <div class="col-sm-4">
                                    <div class="form-group row">
                                       <label class="col-sm-4 col-form-label required">Project / Organization</label>
                                       <div class="col-sm-8">
                                          <ng-select placeholder="Select Project or Organization Name" formControlName="AcademicProjectId"
                                          (change)="changeProject($event)" [items]="ProjectList" [clearable]='false'
                                          [clearOnBackspace]='false' bindLabel="ProjectName" bindValue="Id"
                                          [ngClass]="{ 'is-invalid': submitted && f.AcademicProjectId.errors }">
                                          <ng-template ng-option-tmp let-item="item">
                                             <div [title]="item.ProjectName">{{item.ProjectName}}</div>
                                          </ng-template>
                                          </ng-select>
                                          <div *ngIf="submitted && f.AcademicProjectId.errors" class="error-text">
                                             <span *ngIf="f.AcademicProjectId.errors.required" class="text-danger"> Project / Organization Name is required</span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-sm-4">
                                    <div class="form-group row">
                                       <label class="col-sm-4 col-form-label required">Select Batch</label>
                                       <div class="col-sm-8">
                                          <ng-select placeholder="Select Batch" formControlName="AcademicBatchId"
                                          (change)="changeBatch($event)" [items]="BatchList" [clearable]='false'
                                          [clearOnBackspace]='false' bindLabel="BatchName" bindValue="Id"
                                          [ngClass]="{ 'is-invalid': submitted && f.AcademicBatchId.errors }">
                                          <ng-template ng-option-tmp let-item="item">
                                             <div [title]="item.BatchName">{{item.BatchName}}</div>
                                          </ng-template>
                                          </ng-select>
                                          <div *ngIf="submitted && f.AcademicBatchId.errors" class="error-text">
                                             <span *ngIf="f.AcademicBatchId.errors.required" class="text-danger"> Batch Name is required</span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-sm-4">
                                    <div class="form-group row">
                                       <label class="col-sm-3 col-form-label required">Select Teacher</label>
                                       <div class="col-sm-9">
                                          <ng-select placeholder="Select Teacher" formControlName="HostId"
                                          (change)="changeHost()" [items]="AlreadyMergedHostList" [clearable]='false'
                                          [clearOnBackspace]='false' bindLabel="FirstName" bindValue="Id"
                                          [ngClass]="{ 'is-invalid': submitted && f.HostId.errors }">
                                          <ng-template ng-option-tmp let-item="item">
                                             <div [title]="item.FirstName">{{item.FirstName}}</div>
                                          </ng-template>
                                          </ng-select>
                                          <div *ngIf="submitted && f.HostId.errors" class="error-text">
                                             <span *ngIf="f.HostId.errors.required" class="text-danger"> Teacher is required</span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row" *ngIf="hostId !=''">
      <div class="col-lg-6">
         <div class="row">
            <div class="col-lg-12">
               <div class="card card-border-primary">
                  <div class="card-header">
                     <h5>Select Students For Merging with Teachers </h5>
                  </div>
                  <div class="card-header">
                     <div class="form-group">
                        <input type="text" (keyup)="updateFilter($event)" class="form-control col-md-4"
                           placeholder="type student name ...">
                     </div>
                  </div>
                  <div class="card-block ">
                     <div class="row ">
                        <div class="col-lg-12">
                           <ngx-datatable #table class="material table-bordered" [selected]="selected"
                           [selectionType]="SelectionType.checkbox" (select)="onSelect($event)"
                           [rows]="MergeableParticipantList" [scrollbarH]="scrollBarHorizontal"
                           [loadingIndicator]="loadingIndicator" [columnMode]="ColumnMode.force"
                           [headerHeight]="40" [footerHeight]="50" [limit]="10" rowHeight="auto">
                           <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false"
                           [draggable]="false" [resizeable]="false">
                           <ng-template ngx-datatable-header-template let-value="value"
                              let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                              <div class="checkbox-fade fade-in-primary">
                                 <label>
                                 <input type="checkbox" [checked]="allRowsSelected"
                                 (change)="selectFn(!allRowsSelected)">
                                 <span class="cr "><i
                                    class="cr-icon icofont icofont-ui-check txt-primary "></i></span>
                                 </label>
                              </div>
                           </ng-template>
                           <ng-template ngx-datatable-cell-template let-value="value"
                              let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
                              <div class="checkbox-fade fade-in-primary">
                                 <label>
                                 <input type="checkbox" [checked]="isSelected"
                                 (change)="onCheckboxChangeFn($event)">
                                 <span class="cr "><i class="cr-icon icofont icofont-ui-check txt-primary "></i></span>
                                 </label>
                              </div>
                           </ng-template>
                           </ngx-datatable-column>
                           <ngx-datatable-column [width]="250" name="Student First Name" prop="FirstName"
                           [draggable]="false" [sortable]="false">
                           <ng-template let-value="value" ngx-datatable-cell-template>
                              <span title="{{ value }}">{{ value }}</span> 
                           </ng-template>
                           </ngx-datatable-column>
                           <ngx-datatable-column name="Student Last Name" prop="LastName" [draggable]="false" [sortable]="false">
                           <ng-template let-value="value" ngx-datatable-cell-template>
                              <span title="{{ value }}">{{ value }}</span> 
                           </ng-template>
                           </ngx-datatable-column>
                           <ngx-datatable-column name="Student Email" prop="Email" [draggable]="false" [sortable]="false">
                           <ng-template let-value="value" ngx-datatable-cell-template>
                              <span title="{{ value }}">{{ value }}</span> 
                           </ng-template>
                           </ngx-datatable-column>
                           </ngx-datatable>
                        </div>
                     </div>
                  </div>
                  <div class="card-footer">
                     <div class="text-center">
                        <!-- <button class="btn btn-danger btn-sm mr-2" (click)="btnHangup()">
                           <i class="icofont-rounded-double-left"></i> End Class</button> -->
                        <button class="btn btn-primary btn-md mr-2" (click)="mergeProjectBatchHostParticipant()">
                        <i class="icofont-rounded-double-right"></i> Merge Project, Batch, Host & Participant</button>
                        
                        <!-- <button class="btn btn-primary btn-sm mr-2" [routerLink]="['/enrolled-student-list']">
                           <i class="icofont-rounded-double-left"></i> Back To List</button> -->
                        <!-- <button class="btn btn-primary btn-sm" *ngIf="rows.length > 0" (click)="enrollStudent()"><i
                           class=" icofont icofont-save"></i>Enroll Students To Next Year/Semester</button> -->
                     </div>
                  </div>
                  <!-- end of card-footer -->
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-6">
         <div class="row">
            <div class="col-lg-12">
               <div class="card card-border-primary">
                  <div class="card-header">
                     <h5>Merged Student List </h5>
                  </div>
                  <div class="card-header">
                     <div class="form-group">
                        <input type="text" (keyup)="updateFilter($event)" class="form-control col-md-4"
                           placeholder="type student name ...">
                     </div>
                  </div>
                  <div class="card-block ">
                     <div class="row ">
                        <div class="col-lg-12">
                           <ngx-datatable #table class="material table-bordered" [selected]="selected"
                           [selectionType]="SelectionType.checkbox" (select)="onSelect($event)"
                           [rows]="AlreadyMergedParticipantList" [scrollbarH]="scrollBarHorizontal"
                           [loadingIndicator]="loadingIndicator" [columnMode]="ColumnMode.force"
                           [headerHeight]="40" [footerHeight]="50" [limit]="10" rowHeight="auto">
                           
                           <ngx-datatable-column [width]="250" name="Student First Name" prop="FirstName"
                           [draggable]="false" [sortable]="false">
                           <ng-template let-value="value" ngx-datatable-cell-template>
                              <span title="{{ value }}">{{ value }}</span> 
                           </ng-template>
                           </ngx-datatable-column>
                           <ngx-datatable-column name="Student Last Name" prop="LastName" [draggable]="false" [sortable]="false">
                           <ng-template let-value="value" ngx-datatable-cell-template>
                              <span title="{{ value }}">{{ value }}</span> 
                           </ng-template>
                           </ngx-datatable-column>
                           <ngx-datatable-column name="Student Email" prop="Email" [draggable]="false" [sortable]="false">
                           <ng-template let-value="value" ngx-datatable-cell-template>
                              <span title="{{ value }}">{{ value }}</span> 
                           </ng-template>
                           </ngx-datatable-column>
                           </ngx-datatable>
                        </div>
                     </div>
                  </div>
                  <div class="card-footer">
                     <div class="text-center">
                        <!-- <button class="btn btn-danger btn-sm mr-2" (click)="btnHangup()">
                           <i class="icofont-rounded-double-left"></i> End Class</button> -->
                        <!-- <button class="btn btn-primary btn-md mr-2" (click)="abc()">
                        <i class="icofont-rounded-double-right"></i> Merge Project Batch Host</button> -->
                        
                        <!-- <button class="btn btn-primary btn-sm mr-2" [routerLink]="['/enrolled-student-list']">
                           <i class="icofont-rounded-double-left"></i> Back To List</button> -->
                        <!-- <button class="btn btn-primary btn-sm" *ngIf="rows.length > 0" (click)="enrollStudent()"><i
                           class=" icofont icofont-save"></i>Enroll Students To Next Year/Semester</button> -->
                     </div>
                  </div>
                  <!-- end of card-footer -->
               </div>
            </div>
         </div>
      </div>
   </div>
   
   <div #jitsi></div>
</block-ui>