<block-ui>
   <div class="row">
      <div class="col-lg-12">
         <div class="row">
            <div class="col-lg-12">
               <div class="card card-border-default">
                  <div class="card-header">
                     <h5>Merge Head Role with Roles </h5>
                  </div>
                  <div class="card-block">
                     <div class="row">
                        <div class="col-lg-12">
                           <form [formGroup]="entryForm" autocomplete="off">
                              <div class="row">
                                <div class="col-sm-6">
                                        <div class="form-group row">
                                        <label class="col-sm-6 col-form-label required">Select Head Role</label>
                                        <div class="col-sm-6">
                                            <ng-select placeholder="Select Head Role" formControlName="HeadRoleId"
                                            (change)="changeHeadRole()" [items]="rows" [clearable]='false'
                                            [clearOnBackspace]='false' bindLabel="Name" bindValue="Id"
                                            [ngClass]="{ 'is-invalid': submitted && f.HeadRoleId.errors }">
                                            <ng-template ng-option-tmp let-item="item">
                                                <div [title]="item.Name">{{item.Name}}</div>
                                            </ng-template>
                                            </ng-select>
                                            <div *ngIf="submitted && f.HeadRoleId.errors" class="error-text">
                                                <span *ngIf="f.HeadRoleId.errors.required" class="text-danger"> Head Role Name is required</span>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                              </div>
                              <hr>
                              <div class="row">
                                 <div class="col-md-12">
                                    <h5 class="mb-4">Roles </h5>
                                    <div class="row">
                                       <div class="col-md-3" *ngFor="let permission of permissionList; let i = index">
                                          <div class="checkbox-fade fade-in-default">
                                             <label>
                                             <input type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="permission.IsSelected" >
                                             <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                             <span class="text-inverse">{{permission.Name}}</span>
                                             </label>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-12">
                                    <button 
                                        
                                        class="btn btn-secondary btn-sm col-md-2 float-right" 
                                        (click)="onFormSubmit()">
                                        <i class=" icofont icofont-check "></i> 
                                        Merge Now
                                    </button>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
                  <div class="card-footer ">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</block-ui>