<block-ui>
   <div class="row">
      <div class="col-lg-12">
         <div class="row">
            <div class="col-lg-12">
               <div class="card card-border-primary">
                  <div class="card-header">
                     <h5>Select Daterange and Hit Search Button </h5>
                  </div>
                  <div class="card-block ">
                     <div class="row ">
                        <div class="col-lg-4">
                           <form [formGroup]="entryForm">
                                <div class="form-group">
                                    <label class="col-form-label required">Select Date Range </label> 
                                    <input type="text" (bsValueChange)="onValueChange($event)"  class="form-control" bsDaterangepicker [bsConfig]="bsrConfig" [(ngModel)]="bsRangeValue" [ngModelOptions]="{standalone: true}" placeholder="Select a date range">
                                </div>

                                <button class="btn btn-success btn-sm" (click)="search()"><i
                                        class="icofont icofont-check-circled"></i> {{btnSaveText}}
                                 </button>
                            </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-12">
         <div class="row">
            <div class="col-lg-12">
               <div class="card card-border-primary">
                  <div class="card-header">
                     <h5>Call Records </h5>                     
                  </div>
                  <div class="card-header">
                     <div class="form-group" *ngIf="CallRecords">
                        <span> <strong>Y. stands for "Your" </strong></span>
                        <span> <strong>S. stands for "Student" </strong></span>
                     </div>
                     <!-- <div class="form-group">
                        <input type="text" (keyup)="updateFilter($event)" class="form-control col-md-4"
                           placeholder="Type room no ...">
                     </div> -->
                  </div>
                  <div class="card-block ">
                     <div class="row ">
                        <div class="col-lg-12">
                           <ngx-datatable #table class="material table-bordered" [selected]="selected"
                           [selectionType]="SelectionType.checkbox" (select)="onSelect($event)"
                           [rows]="CallRecords" [scrollbarH]="scrollBarHorizontal"
                           [loadingIndicator]="loadingIndicator" [columnMode]="ColumnMode.force"
                           [headerHeight]="40" [footerHeight]="50" [limit]="10" rowHeight="auto">
                           <ngx-datatable-column [width]="120" name="Room ID" prop="RoomId"
                           [draggable]="false" [sortable]="false">
                           <ng-template let-value="value" ngx-datatable-cell-template>
                              <!-- <span title="{{ value }}" badge badge-info>{{ value }}</span> -->
                              <span title="{{ value }}"> <strong class="label label-warning">{{ value }} </strong></span> 
                           </ng-template>
                           </ngx-datatable-column>
                           <ngx-datatable-column name="Y. Call Duration" prop="VirtualClassDetail.HostCallDuration" [draggable]="false" [sortable]="false">
                           <ng-template let-value="value" ngx-datatable-cell-template>
                              <span title="{{ value }}">{{ value }}</span> 
                           </ng-template>
                           </ngx-datatable-column>
                           <ngx-datatable-column name="S. Call Duration" prop="VirtualClassDetail.ParticipantsCallDuration" [draggable]="false" [sortable]="false">
                           <ng-template let-value="value" ngx-datatable-cell-template>
                              <span title="{{ value }}">{{ value }}</span> 
                           </ng-template>
                           </ngx-datatable-column>
                           <ngx-datatable-column name="Empty Slot" prop="VirtualClassDetail.EmptySlotDuration" [draggable]="false" [sortable]="false">
                           <ng-template let-value="value" ngx-datatable-cell-template>
                              <span title="{{ value }}">{{ value }}</span> 
                           </ng-template>
                           </ngx-datatable-column>
                           <ngx-datatable-column name="Actual Duration" prop="VirtualClassDetail.ActualCallDuration" [draggable]="false" [sortable]="false">
                           <ng-template let-value="value" ngx-datatable-cell-template>
                              <!-- <span title="{{ value }}">{{ value }}</span>  -->
                              <span title="{{ value }}"> <strong class="label label-primary">{{ value }} </strong></span> 
                           </ng-template>
                           </ngx-datatable-column>
                           <ngx-datatable-column name="S. In-Out Counts" prop="VirtualClassDetail.ParticipantJoined" [draggable]="false" [sortable]="false">
                           <ng-template let-value="value" ngx-datatable-cell-template>
                              <!-- <span title="{{ value }}">{{ value }} times</span> -->
                              <span title="{{ value }}">{{ value }} </span>
                              <span *ngIf="value >1"> times</span> 
                              <span *ngIf="value <2"> time</span> 
                           </ng-template>
                           </ngx-datatable-column>
                           <ngx-datatable-column name="Unique S. Counts" prop="VirtualClassDetail.UniqueParticipantCounts" [draggable]="false" [sortable]="false">
                           <ng-template let-value="value" ngx-datatable-cell-template>
                              <span title="{{ value }}">{{ value }}</span> 
                           </ng-template>
                           </ngx-datatable-column>
                           <ngx-datatable-column name="Joined At" prop="JoinTime" [draggable]="false" [sortable]="false">
                           <ng-template let-value="value" ngx-datatable-cell-template>
                              <span title="{{ value }}">{{ value  | amFromUtc | amLocal | amDateFormat: 'DD-MM-YYYY hh:mm:ss a'}}</span> 
                           </ng-template>
                           </ngx-datatable-column>
                           <ngx-datatable-column name="Left At" prop="LeaveTime" [draggable]="false" [sortable]="false">
                           <ng-template let-value="value" ngx-datatable-cell-template>
                              <span title="{{ value }}">{{ value  | amFromUtc | amLocal | amDateFormat: 'DD-MM-YYYY hh:mm:ss a'}}</span> 
                           </ng-template>
                           </ngx-datatable-column>
                           <ngx-datatable-column [width]="60" name="Action" prop="Id" [draggable]="false"
                           [sortable]="false">
                           <ng-template let-row="row" ngx-datatable-cell-template>
                              <button class="btn btn-info btn-mini" (click)="getCallDetailById(row.Id)"><i
                                 class="icofont icofont-edit"></i>Detail</button>
                           </ng-template>
                           </ngx-datatable-column>
                           </ngx-datatable>
                        </div>
                     </div>
                  </div>
                  <div class="card-footer">
                     <div class="text-center">
                        <!-- <button class="btn btn-danger btn-sm mr-2" (click)="btnHangup()">
                           <i class="icofont-rounded-double-left"></i> End Class</button> -->
                        <!-- <button class="btn btn-primary btn-md mr-2" (click)="abc()">
                           <i class="icofont-rounded-double-right"></i> Merge Project Batch Host</button> -->
                        <!-- <button class="btn btn-primary btn-sm mr-2" [routerLink]="['/enrolled-student-list']">
                           <i class="icofont-rounded-double-left"></i> Back To List</button> -->                        
                     </div>
                  </div>
                  <!-- end of card-footer -->
               </div>
            </div>
         </div>
      </div>
   </div>
   <div #jitsi></div>
</block-ui>