<block-ui>
  

  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        
        <div class="col-lg-12">
          <div class="card card-border-primary">
            <div class="card-header">
              <h5>Select The Followings </h5>
            </div>
            <div class="card-block ">
              <div class="row ">
                <div class="col-lg-12 ">
                  <form [formGroup]="entryForm">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label required">Project / Organization</label>
                          <div class="col-sm-6">
                            <ng-select placeholder="Select Project or Organization Name" formControlName="AcademicProjectId"
                              (change)="chnageProject()" [items]="ProjectList" [clearable]='false'
                              [clearOnBackspace]='false' bindLabel="ProjectName" bindValue="Id"
                              [ngClass]="{ 'is-invalid': submitted && f.AcademicProjectId.errors }">
                              <ng-template ng-option-tmp let-item="item">
                                <div [title]="item.ProjectName">{{item.ProjectName}}</div>
                              </ng-template>
                            </ng-select>
                            <div *ngIf="submitted && f.AcademicProjectId.errors" class="error-text">
                              <span *ngIf="f.AcademicProjectId.errors.required" class="text-danger"> Project / Organization Name is required</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label required">Which Batch ?</label>
                          <div class="col-sm-6">
                            <ng-select placeholder="Select Batch" formControlName="AcademicBatchId"
                              (change)="chnageBatch()" [items]="BatchList" [clearable]='false'
                              [clearOnBackspace]='false' bindLabel="BatchName" bindValue="Id"
                              [ngClass]="{ 'is-invalid': submitted && f.AcademicBatchId.errors }">
                              <ng-template ng-option-tmp let-item="item">
                                <div [title]="item.BatchName">{{item.BatchName}}</div>
                              </ng-template>
                            </ng-select>
                            <div *ngIf="submitted && f.AcademicBatchId.errors" class="error-text">
                              <span *ngIf="f.AcademicBatchId.errors.required" class="text-danger"> Batch Name is required</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        

      </div>
    </div>
  </div>

  <div class="row" *ngIf="batchId !=''">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                  
                    <div class="card card-border-primary">
                      <div class="card-header">
                        <h5>Select Students For Live Class </h5>
                      </div>
                        <div class="card-header">

                            <div class="form-group">
                                <input type="text" (keyup)="updateFilter($event)" class="form-control col-md-4"
                                    placeholder="Type student name or registration no...">

                            </div>
                        </div>
                        <div class="card-block ">
                            <div class="row ">
                                <div class="col-lg-12 ">
                                    <ngx-datatable #table class="material table-bordered" [selected]="selected"
                                        [selectionType]="SelectionType.checkbox" (select)="onSelect($event)"
                                        [rows]="ParticipantList" [scrollbarH]="scrollBarHorizontal"
                                        [loadingIndicator]="loadingIndicator" [columnMode]="ColumnMode.force"
                                        [headerHeight]="40" [footerHeight]="50" [limit]="10" rowHeight="auto">


                                        <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false"
                                            [draggable]="false" [resizeable]="false">
                                            <ng-template ngx-datatable-header-template let-value="value"
                                                let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                                                <div class="checkbox-fade fade-in-primary">
                                                    <label>
                                                        <input type="checkbox" [checked]="allRowsSelected"
                                                            (change)="selectFn(!allRowsSelected)">
                                                        <span class="cr "><i
                                                                class="cr-icon icofont icofont-ui-check txt-primary "></i></span>
                                                    </label>
                                                </div>
                                            </ng-template>
                                            <ng-template ngx-datatable-cell-template let-value="value"
                                                let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
                                                <div class="checkbox-fade fade-in-primary">
                                                    <label>
                                                        <input type="checkbox" [checked]="isSelected"
                                                            (change)="onCheckboxChangeFn($event)">
                                                        <span class="cr "><i class="cr-icon icofont icofont-ui-check txt-primary "></i></span>
                                                    </label>
                                                </div>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="250" name="Student First Name" prop="FirstName"
                                            [draggable]="false" [sortable]="false">
                                            <ng-template let-value="value" ngx-datatable-cell-template>
                                                <span title="{{ value }}">{{ value }}</span> 
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column name="Student Last Name" prop="LastName" [draggable]="false" [sortable]="false">
                                            <ng-template let-value="value" ngx-datatable-cell-template>
                                                <span title="{{ value }}">{{ value }}</span> 
                                            </ng-template>
                                        </ngx-datatable-column>


                                        <ngx-datatable-column name="Student ID" prop="ParticipantId"
                                            [draggable]="false" [sortable]="false">
                                            <ng-template let-value="value" ngx-datatable-cell-template>
                                                <span title="{{ value }}">{{ value }}</span> 
                                            </ng-template>
                                        </ngx-datatable-column>


                                    </ngx-datatable>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-center">
                                <!-- <button class="btn btn-danger btn-sm mr-2" (click)="btnHangup()">
                                  <i class="icofont-rounded-double-left"></i> End Class</button> -->
                              
                                <button class="btn btn-primary btn-md mr-2" (click)="createVirtualClass()" *ngIf="iframeOpened ==false">
                                  <i class="icofont-rounded-double-right"></i> Start Class With Selected Students</button>
                                <h2><span class="badge badge-success" *ngIf="iframeOpened == true">Live Class Started | Check Below</span></h2>

                                <!-- <button class="btn btn-primary btn-sm mr-2" [routerLink]="['/enrolled-student-list']">
                                    <i class="icofont-rounded-double-left"></i> Back To List</button> -->

                                <!-- <button class="btn btn-primary btn-sm" *ngIf="rows.length > 0" (click)="enrollStudent()"><i
                                        class=" icofont icofont-save"></i>Enroll Students To Next Year/Semester</button> -->

                            </div>
                        </div>
                        <!-- end of card-footer -->
                    </div>
                </div>
            </div>
        </div>
    </div>

  <div class="row" *ngIf="currentUser.UserType == 'Host' &&  OnGoingClassListLength>0">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card card-border-primary">
          <div class="card-header">
              <h5>Your Current Live Class List</h5>
          </div>
          <div class="card-block ">
              <div class="row ">
                  <div class="col-lg-12 ">
                      <ngx-datatable class="material table-bordered" [rows]="OnGoingClassList"
                          [columnMode]="ColumnMode.force"
                          [headerHeight]="40" [footerHeight]="50" rowHeight="auto" [limit]="10">
                          <ngx-datatable-column [width]="120" name="Action" prop="IsAnyExistingConferenceBetweenThem" [draggable]="false"
                              [sortable]="false">
                              <ng-template let-row="row" ngx-datatable-cell-template>
                                    <span class="badge badge-success" *ngIf="row.HasJoinedByHost ==true && row.RoomId !=null">Coference Joined</span>
                                    <br>
                                    <button class="btn btn-danger btn-mini"
                                            (click)="btnHangup(row)"  
                                            *ngIf="row.HasJoinedByHost && row.RoomId !=null"><i
                                            class="icofont icofont-ui-lock"></i  >
                                            Hang Up
                                    </button>
                              </ng-template>
                          </ngx-datatable-column>

                          <!-- <ngx-datatable-column [width]="10" name="Sl" prop="id" [draggable]="false"
                              [sortable]="false">
                              <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                  <span > {{ rowIndex + 1 }} </span>
                              </ng-template>
                          </ngx-datatable-column> -->
                         
                          <ngx-datatable-column name="Batch Name" prop="BatchName" [draggable]="false"
                              [sortable]="false">
                              <ng-template let-value="value" ngx-datatable-cell-template>
                                  <span title="{{ value }}"> {{ value }} </span>
                              </ng-template>
                          </ngx-datatable-column>
                          <ngx-datatable-column name="Room Name" prop="RoomId" [draggable]="false"
                              [sortable]="false">
                              <ng-template let-value="value" ngx-datatable-cell-template>
                                  <span title="{{ value }}"> {{ value }} </span>
                              </ng-template>
                          </ngx-datatable-column>

                          
                      </ngx-datatable>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
    
  <div #jitsi></div>



  
  
  
  
  
  
  
  
  
  <ng-template #template>
    <div class="modal-header ">
      <h4 class="modal-title pull-left " [innerHtml]="modalTitle" id="modalTitle"></h4>
      <button type="button " class="close pull-right " aria-label="Close " (click)="modalHide()">
        <i class="icofont icofont-close"></i>
      </button>
    </div>
    <div class="modal-body ">
      <app-card>
        <form [formGroup]="syllabusForm" class="col-sm-12">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label"> Semester </label>
            <div class="col-sm-4">
              <ng-select placeholder="Select Semester"
                formControlName="AcademicTermId" [items]="semesterDropDownList" [clearable]='false'
                [clearOnBackspace]='false' bindLabel="Name" bindValue="Id"
                [ngClass]="{ 'is-invalid': submitted && sf.AcademicTermId.errors }">
                <ng-template ng-option-tmp let-item="item">
                  <div [title]="item.Name">{{item.Name}}</div>
                </ng-template>
              </ng-select>
                <div *ngIf="submitted && sf.AcademicTermId.errors" class="error-text">
                    <span *ngIf="sf.AcademicTermId.errors.required" class="text-danger"> Semester is required</span>
                </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label"> Courses </label>
            <div class="col-sm-9">
              <ng-select *ngIf="courseList.length > 0" class="pb-1" [clearable]="false" [clearOnBackspace]="false"
                formControlName="disciplineCourseList" [items]="courseList" bindLabel="Name" bindValue="Id"
                [multiple]="true" placeholder="Select Courses"></ng-select>
              <div *ngIf="submitted && sf.disciplineCourseList.errors" class="error-text">
                <span *ngIf="sf.disciplineCourseList.errors.required" class="text-danger"> Course is required</span>
              </div>
            </div>
          </div>
        </form>
      </app-card>
    </div>
    <div class="modal-footer">
      <div class="pr-4">
        <button class="btn btn-danger btn-outline-danger mr-2" (click)="modalHide()"> <i
            class="icofont icofont-close"></i>Close</button>        
      </div>
    </div>
  </ng-template>


</block-ui>
