<block-ui>
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-border-default">
                        <div class="card-header" [innerHtml]="formTitle"> </div>
                        <div class="card-body">
                            <form [formGroup]="entryForm" class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <!-- <div class="form-group row">
                                            <label class="col-sm-4 col-form-label required">BP ID </label>
                                            <div class="col-sm-8">
                                                <input type="number" formControlName="bp_id"
                                                    [ngClass]="{ 'is-invalid': submitted && f.bp_id.errors }"
                                                    class="form-control" />

                                                <div *ngIf="submitted && f.bp_id.errors" class="error-text">
                                                    <span *ngIf="f.bp_id.errors.required" class="text-secondary"> BP ID is required</span>
                                                    <span *ngIf="f.bp_id.errors.pattern" class="text-secondary">Please, enter valid BP ID</span>
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label required">First Name </label>
                                            <div class="col-sm-8">
                                                <input type="text" formControlName="first_name"
                                                    [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }"
                                                    class="form-control" />

                                                <div *ngIf="submitted && f.first_name.errors" class="error-text">
                                                    <span *ngIf="f.first_name.errors.required" class="text-secondary"> First name is required</span>
                                                    <span *ngIf="f.first_name.errors.maxlength" class="text-secondary">First name must be not then 50 characters</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label required">Last Name </label>
                                            <div class="col-sm-8">
                                                <input type="text" formControlName="last_name"
                                                    [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }"
                                                    class="form-control" />

                                                <div *ngIf="submitted && f.last_name.errors" class="error-text">
                                                    <span *ngIf="f.last_name.errors.required" class="text-secondary"> Last name is required</span>
                                                    <span *ngIf="f.last_name.errors.maxlength" class="text-secondary">Last name must be not then 50 characters</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label required">Email </label>
                                            <div class="col-sm-8">
                                                <input type="email" formControlName="email"
                                                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                                    class="form-control" />

                                                <!-- <div *ngIf="submitted && f.email.errors" class="error-text">
                                                    <span *ngIf="f.email.errors.required" class="text-secondary"> Email is required</span>
                                                    <span *ngIf="f.email.errors.maxlength" class="text-secondary">Email must be not then 50 characters</span>
                                                </div> -->
                                                <div *ngIf="submitted && f.email.errors" class="error-text">
                                                    <span *ngIf="f.email.errors.email" class="text-danger"> Not a valid email format</span>
                                                    <span *ngIf="f.email.errors.required" class="text-danger"> Email is required</span>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- <div class="form-group row">
                                            <label class="col-sm-4 col-form-label required">Designation </label>
                                            <div class="col-sm-8">
                                                <div class="d-flex flex-row">
                                                    <ng-select placeholder="Select Designation" formControlName="designation" [items]="designationDropDownList" [clearable]='true' [clearOnBackspace]='false'
                                                        bindLabel="Name"  bindValue="Id"  [ngClass]="{ 'is-invalid': submitted && f.designation.errors }">
                                                        <ng-template ng-option-tmp let-item="item">
                                                            <div [title]="item.Name">{{item.Name}}</div>
                                                        </ng-template>
                                                    </ng-select>
                                                    <button type="button" class="btn btn-secondary btn-mini"
                                                        title="Add Designation"
                                                        (click)="openDesignationModal(designationTemplate)">
                                                        <i class="icofont-plus"></i>
                                                    </button>
                                                </div>
                                                <div *ngIf="submitted && f.designation.errors" class="error-text">
                                                    <span *ngIf="f.designation.errors.required" class="text-secondary"> Designation is required</span>
                                                </div>
                                            </div>
                                        </div> -->

                                        <!-- <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Section </label>
                                            <div class="col-sm-8">
                                                <div class="d-flex flex-row">
                                                    <ng-select placeholder="Select Section" formControlName="department" [items]="sectionDropDownList" [clearable]='true' [clearOnBackspace]='false'
                                                        bindLabel="Name"   bindValue="Id"  [ngClass]="{ 'is-invalid': submitted && f.department.errors }">
                                                        <ng-template ng-option-tmp let-item="item">
                                                            <div [title]="item.Name">{{item.Name}}</div>
                                                        </ng-template>
                                                    </ng-select>
                                                    <button type="button" class="btn btn-secondary btn-mini"
                                                        title="Add Section"
                                                        (click)="openSectionModal(sectionTemplate)">
                                                        <i class="icofont-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div> -->

                                        <!--inventoryStoreDropDownList-->
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label required"> Head Role </label>
                                            <div class="col-sm-8">
                                                <!-- <ng-select placeholder="Select a role" formControlName="HeadRoleId" [items]="HeadRoleList" [clearable]='false' [clearOnBackspace]='false' (change)="onChangeUserRole($event)"
                                                    bindLabel="Name"   bindValue="Id"  [ngClass]="{ 'is-invalid': submitted && f.HeadRoleId.errors }">
                                                </ng-select> -->
                                                <ng-select placeholder="Select Head Role" formControlName="HeadRoleId"
                                                (change)="changeHeadRole($event)" [items]="HeadRoleList" [clearable]='false'
                                                [clearOnBackspace]='false' bindLabel="Name" bindValue="Id"
                                                [ngClass]="{ 'is-invalid': submitted && f.HeadRoleId.errors }">
                                                <ng-template ng-option-tmp let-item="item">
                                                    <div [title]="item.Name">{{item.Name}}</div>
                                                </ng-template>
                                                </ng-select>
                                                <div *ngIf="submitted && f.HeadRoleId.errors" class="error-text">
                                                    <span *ngIf="f.HeadRoleId.errors.required" class="text-danger"> Head Role Name is required</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="form-group row">
                                            <label class="col-sm-4 col-form-label required"> Store </label>
                                            <div class="col-sm-8">
                                                <ng-select placeholder="Select a Store" formControlName="StoreId" [items]="inventoryStoreDropDownList" [clearable]='false' [clearOnBackspace]='false'
                                                    bindLabel="Name"   bindValue="Id"  [ngClass]="{ 'is-invalid': submitted && f.StoreId.errors }">
                                                </ng-select>
                                            </div>
                                        </div> -->
                                    </div>
                                    <div class="col-sm-6">
                                        <!-- <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Present Address </label>
                                            <div class="col-sm-8">
                                                <textarea rows="2" type="text" formControlName="present_address" type="text"
                                                    class="form-control"> </textarea>
                                            </div>
                                        </div> -->
                                        <!-- <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Permanent Address </label>
                                            <div class="col-sm-8">
                                                <textarea rows="2" type="text" formControlName="permanent_address" type="text"
                                                    class="form-control"> </textarea>
                                            </div>
                                        </div> -->
                                        <!-- <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Posting Area </label>
                                            <div class="col-sm-8">
                                                <input type="text" formControlName="posting_area" class="form-control" />
                                            </div>
                                        </div> -->
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Phone </label>
                                            <div class="col-sm-8">
                                                <input type="text" formControlName="phone" class="form-control" />
                                            </div>
                                        </div>
                                        <!-- <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Intercom No </label>
                                            <div class="col-sm-8">
                                                <input type="text" formControlName="extension_no" class="form-control" />
                                            </div>
                                        </div> -->
                                        <!-- <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Transferred </label>
                                            <div class="col-sm-2 mt-2">
                                                <div class="checkbox-fade fade-in-default">
                                                    <label>
                                                        <input type="checkbox" formControlName="transferred">
                                                        <span class="cr"><i
                                                                class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div> -->

                                    </div>
                                </div>

                            </form>
                            <div class="col-md-12" *ngIf="permissionList.length > 0">
                                <h5 class="mb-3">Roles </h5>
                                  <div class="row">
                                      <div class="col-md-3" *ngFor="let permission of permissionList; let i = index">
                                          <div class="checkbox-fade fade-in-default">
                                          <label>
                                          <input type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="permission.IsSelected" >
                                          <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                          <span class="text-inverse">{{permission.Name}}</span>
                                        </label>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                        </div>
                    </div>
                    <div class="card card-border-default">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <button class="btn btn-secondary btn-sm" (click)="onFormSubmit()">
                                        <i class="icofont-save"></i> {{btnSaveText}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</block-ui>
