<block-ui>
    
  <div class="row" *ngIf="currentUser.UserType == 'Host'">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card card-border-primary">
          <div class="card-header">
              <h5>Student List </h5>
          </div>
          <div class="card-block ">
              <div class="row ">
                  <div class="col-lg-12 ">
                      <ngx-datatable class="material table-bordered" [rows]="studentList"
                          [columnMode]="ColumnMode.force"
                          [headerHeight]="40" [footerHeight]="50" rowHeight="auto" [limit]="10">

                          <ngx-datatable-column [width]="10" name="Sl" prop="id" [draggable]="false"
                              [sortable]="false">
                              <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                  <span > {{ rowIndex + 1 }} </span>
                              </ng-template>
                          </ngx-datatable-column>

                          <ngx-datatable-column name="First Name" prop="FirstName" [draggable]="false"
                              [sortable]="false">
                              <ng-template let-value="value" ngx-datatable-cell-template>
                                  <span title="{{ value }}"> {{ value }} </span>
                              </ng-template>
                          </ngx-datatable-column>
                         
                          <ngx-datatable-column name="Last Name" prop="LastName" [draggable]="false"
                              [sortable]="false">
                              <ng-template let-value="value" ngx-datatable-cell-template>
                                  <span title="{{ value }}"> {{ value }} </span>
                              </ng-template>
                          </ngx-datatable-column>
                         
                          <ngx-datatable-column name="Batch Name" prop="BatchName" [draggable]="false"
                              [sortable]="false">
                              <ng-template let-value="value" ngx-datatable-cell-template>
                                  <span title="{{ value }}"> {{ value }} </span>
                              </ng-template>
                          </ngx-datatable-column>
                         
                          <ngx-datatable-column name="Project Name" prop="ProjectName" [draggable]="false"
                              [sortable]="false">
                              <ng-template let-value="value" ngx-datatable-cell-template>
                                  <span title="{{ value }}"> {{ value }} </span>
                              </ng-template>
                          </ngx-datatable-column>

                          <!-- <ngx-datatable-column name="Photo" prop="profile_pic" [draggable]="false"
                              [sortable]="false">
                              <ng-template let-value="value" ngx-datatable-cell-template>
                                  <span title="{{ value }}"> <img class="img-thumbnail" alt="Cinque Terre" style="width:65px; height:65px;" src={{value}}/></span>
                              </ng-template>
                          </ngx-datatable-column> -->

                          <ngx-datatable-column [width]="50" name="Action" prop="IsAnyExistingConferenceBetweenThem" [draggable]="false"
                              [sortable]="false">
                              <ng-template let-row="row" ngx-datatable-cell-template>
                                    <button class="btn btn-info btn-mini" 
                                            (click)="startConference(row)"  
                                            *ngIf="row.IsAnyExistingConferenceBetweenThem==false"><i
                                            class="icofont icofont-external"></i  >
                                            Start Class
                                    </button>
                                    <span class="badge badge-success" *ngIf="row.IsAnyExistingConferenceBetweenThem && hasJoined ==false && row.RoomId !=null">Coference Created</span>
                                    <span class="badge badge-success" *ngIf="(hasJoined ==true && row.RoomId !=null)">Coference Joined</span>
                                    <button class="btn btn-info btn-mini"
                                            (click)="joinConference(row)"  
                                            *ngIf="hasJoined == false && row.RoomId !=null"><i
                                            class="icofont icofont-ui-lock"></i  >
                                            Click To Join Conference
                                    </button>
                                    <!-- <button class="btn btn-success btn-mini"
                                            *ngIf="row.IsAnyExistingConferenceBetweenThem"><i
                                            class="icofont icofont-ui-lock"></i  >
                                            Live Class On Going
                                    </button> -->
                                    <br>
                                    <button class="btn btn-danger btn-mini"
                                            (click)="btnHangup(row)"  
                                            *ngIf="hasJoined && row.RoomId !=null"><i
                                            class="icofont icofont-ui-lock"></i  >
                                            Hang Up
                                    </button>
                              </ng-template>
                          </ngx-datatable-column>
                      </ngx-datatable>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>

  <div class="row"  *ngIf="currentUser.UserType == 'Participant'">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card card-border-primary">
          <div class="card-header">
              <h5>Host List </h5>
          </div>
          <div class="card-block ">
              <div class="row ">
                  <div class="col-lg-12 ">
                      <ngx-datatable class="material table-bordered" [rows]="HostList"
                          [columnMode]="ColumnMode.force"
                          [headerHeight]="40" [footerHeight]="50" rowHeight="auto" [limit]="10">

                          <ngx-datatable-column [width]="10" name="Sl" prop="id" [draggable]="false"
                              [sortable]="false">
                              <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                  <span > {{ rowIndex + 1 }} </span>
                              </ng-template>
                          </ngx-datatable-column>

                          <ngx-datatable-column name="Host First Name" prop="FirstName" [draggable]="false"
                              [sortable]="false">
                              <ng-template let-value="value" ngx-datatable-cell-template>
                                  <span title="{{ value }}"> {{ value }} </span>
                              </ng-template>
                          </ngx-datatable-column>
                         
                          <ngx-datatable-column name="Host Last Name" prop="LastName" [draggable]="false"
                              [sortable]="false">
                              <ng-template let-value="value" ngx-datatable-cell-template>
                                  <span title="{{ value }}"> {{ value }} </span>
                              </ng-template>
                          </ngx-datatable-column>
                         
                          <ngx-datatable-column name="Batch Name" prop="BatchName" [draggable]="false"
                              [sortable]="false">
                              <ng-template let-value="value" ngx-datatable-cell-template>
                                  <span title="{{ value }}"> {{ value }} </span>
                              </ng-template>
                          </ngx-datatable-column>
                         
                          <ngx-datatable-column name="Project Name" prop="ProjectName" [draggable]="false"
                              [sortable]="false">
                              <ng-template let-value="value" ngx-datatable-cell-template>
                                  <span title="{{ value }}"> {{ value }} </span>
                              </ng-template>
                          </ngx-datatable-column>

                          <!-- <ngx-datatable-column name="Photo" prop="profile_pic" [draggable]="false"
                              [sortable]="false">
                              <ng-template let-value="value" ngx-datatable-cell-template>
                                  <span title="{{ value }}"> <img class="img-thumbnail" alt="Cinque Terre" style="width:65px; height:65px;" src={{value}}/></span>
                              </ng-template>
                          </ngx-datatable-column> -->

                          <ngx-datatable-column [width]="50" name="Action" prop="IsAnyExistingConferenceBetweenThem" [draggable]="false"
                              [sortable]="false">
                              <ng-template let-row="row" ngx-datatable-cell-template>
                                    <!-- <button class="btn btn-info btn-mini" 
                                            (click)="startConference(row)"  
                                            *ngIf="row.IsAnyExistingConferenceBetweenThem==false"><i
                                            class="icofont icofont-external"></i  >
                                            Join Class
                                    </button> -->
                                    <span class="badge badge-secondary" *ngIf="row.IsAnyExistingConferenceBetweenThem==false">No Live Class Yet</span>
                                    <button class="btn btn-success btn-mini"
                                            (click)="joinConference(row)"  
                                            *ngIf="row.IsAnyExistingConferenceBetweenThem"><i
                                            class="icofont icofont-ui-lock"></i  >
                                            On-Going | Click To Join
                                    </button>
                                    <button class="btn btn-danger btn-mini"
                                            (click)="btnHangup(row)"  
                                            *ngIf="row.IsAnyExistingConferenceBetweenThem"><i
                                            class="icofont icofont-ui-lock"></i  >
                                            Hang Up
                                    </button>
                              </ng-template>
                          </ngx-datatable-column>
                      </ngx-datatable>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
  <!-- <button class="btn btn-success btn-mini"
        (click)="btnHangup()" ><i
        class="icofont icofont-ui-lock"></i  >
        Hang Up
</button> -->
<button class="btn btn-danger btn-mini"
    (click)="openModal(HomeTemplate)"  
    ><i
    class="icofont icofont-ui-lock"></i  >
    Open modal
</button><br>

<button class="btn btn-danger btn-mini"
    (click)="currentConfDetail()"  
    ><i
    class="icofont icofont-ui-lock"></i  >
    Show me current Conference detail
</button>

<button class="btn btn-danger btn-mini"
    (click)="getParticipantInfo()"  
    ><i
    class="icofont icofont-ui-lock"></i  >
    Get Participant Info
</button>

  <div #jitsi></div>


  <ng-template #HomeTemplate>
    <div class="modal-header ">
        <h4 class="modal-title pull-left " [innerHtml]="modalTitle" id="modalTitle"></h4>
        <button type="button " class="close pull-right " aria-label="Close " (click)="modalHide()">
            <i class="icofont icofont-close"></i>
        </button>
    </div>
    <div class="modal-body ">
        <app-card>
            TEST
        </app-card>
    </div>
    <div class="modal-footer">
        <div class="pr-4">

            <button class="btn btn-danger btn-outline-danger mr-2" (click)="modalHide()"> <i
                    class="icofont icofont-close"></i> Close</button>

            <button class="btn btn-success btn-outline-success" ><i
                    class="icofont icofont-check-circled"></i> ASD</button>

        </div>

    </div>
</ng-template>
</block-ui>

